:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #272643;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Inter", "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(217, 217, 217, 0.3);
}

.logo-fintech {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 100px;

}

.container {
    text-align: center;
    width: 300px;
    height: 220px;
    right: auto;
    left: auto;
    top: auto;
    bottom: auto;
    margin: auto;

}

.btn-primary {
    width: 100%;
    margin-top: 20px;
    background-color: #272643;
    text-align: center;
}

.digital {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    right: auto;
    left: auto;
    top: auto;
    bottom: auto;
    margin-top: 50px;
}

.digital a {
    color: rgba(0, 0, 0, 0.4);
}

.bi-question-circle {
    padding: 3px;
    white-space: 15px;
    height: 15px;
}

.col-botoes {
    margin-top: 30px;
}

.navbar {
    background-color: #092240;
}

.container-nav {
    width: 700px;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.container-nav a {
    display: flexbox;
    color: var(--bs-white);
    text-decoration: none;
    font-family: var(--bs-body-font-family);
    font-weight: 400;
}

.container-nav row {
    display: flex;
    padding-top: 15px;
}

.container-topo {
    position: absolute;
    width: 100%;
    background-color: #092240;
    height: 100px;
    z-index: 0;
}

.bi-bell-fill {
    color: var(--bs-white);
    margin-top: 25px;
}

.bi-box-arrow-right {
    color: var(--bs-white);
    margin-top: 25px;
    position: absolute;
    margin-left: 10px;
}

.container-ico-topo {
    display: block;
    justify-content: center;
    margin-left: 62vw;
    margin-right: auto;
}

.saldo {
    position: absolute;
    width: 420px;
    height: 60px;
    background-color: var(--bs-body-bg);
    z-index: 1;
    top: -740px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: #000 50px;
    border-radius: 15px;
}

.texto-esquerdo {
    text-align: left;
    margin-top: 15px;
    margin-left: 20px;
    font-family: var(--bs-body-font-family);
    font-weight: 800;
}

.texto-direito {
    text-align: right;
    margin-top: -24px;
    margin-right: 50px;
    font-family: var(--bs-body-font-family);
    font-weight: 600;
}

.ocultar {
    text-align: right;
    margin-right: 20px;
    margin-top: -25px;
}

.container-itens {
    background-color: var(--bs-white);
    border-radius: 20px;
    padding-top: 20px;          
}

.container-servicos {
    display: grid;
    grid-template-columns: 14vh 14vh 14vh;
    grid-template-rows: 12vh 12vh 12vh 12vh 12vh 12vh 12vh;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    padding-top: 180px;
    padding-bottom: 200px;
    text-align: center;
    font-family: var(--bs-body-font-family); 
    font-weight: 700;
}

.container-servicos img {
    width: 25%;
    justify-content: center;
    align-content: center;
    padding-top: 5px;

}

.container-servicos p {
    color: #092240;
}

@media screen and (min-width: 1150px) {
    .container-servicos { 
    display: grid;
    grid-template-columns: 16vh 16vh 16vh 16vh 16vh 16vh;
    grid-template-rows: 14vh 14vh 14vh 14vh;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    padding-top: 180px;
    padding-bottom: 100px;
    text-align: center;
    font-family: var(--bs-body-font-family); 
    font-weight: 700;
    }

    .container-servicos img {
        width: 25%;
        justify-content: center;
        align-content: center;
        padding-top: 15px;
    }
}